.section-buttery {
  padding: 80px 0;
  text-align: center;
  //   background: #fafafa;

  .buttery {
    &__title {
      font-size: 64px;
      font-weight: 700;
    }

    &__desc {
      font-size: 16px;
      font-weight: 500;
      margin: 20px auto 40px;
    }

    &__img {
      width: 400px;
      height: 365px;
      border-radius: 10px;
    }
  }
}
