.section-composition {
  padding: 0 0 180px;

  .composition {
    text-align: center;

    &__title {
      font-size: 64px;
      font-weight: 700;
    }

    &__desc {
      font-size: 16px;
      font-weight: 500;
      max-width: 650px;
      margin: 20px auto 40px;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      max-width: 625px;
      margin: 0 auto;

      &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;

        &__p {
          max-width: 230px;
          text-align: start;
          font-size: 16px;
          font-weight: 500;
        }
      }

      &-img {
        border-radius: 10px;
      }
    }
  }
}
