$font-family: Inter, sans-serif;
$color-black: #1d1d1d;
$color-white: #f3f3f3;

$bg-blue: linear-gradient(180deg, #cadbeb 0%, #ebebeb 100%);
$bg-pink: linear-gradient(180deg, #f3d6d1 0%, #ebebeb 100%);
$bg-black: linear-gradient(180deg, #b6b6b6 0%, #ebebeb 100%);
$bg-green: linear-gradient(180deg, #ddead9 0%, #ebebeb 100%);
$bg-white: linear-gradient(180deg, #fafafa 0%, #ebebeb 100%);
