@use "./variables" as v;
@use "./importer";

html {
  font-size: 10px;
  font-family: v.$font-family;
}

body {
  font-size: 1.6rem;
  background: v.$bg-blue no-repeat;
  color: v.$color-black;
  font-weight: 500;
}

.container {
  max-width: 123rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
