.footer {
  background-color: var(--color-dark-green);
}

.footer__wrapper {
  padding: 100px 0 100px 20px;
  color: var(--color-white);
}

.footer__title {
  font-size: 40px;
  font-weight: 900;
}

.footer__nav {
  margin: 70px 0 0 0;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 60px;
}

.footer__nav-link {
  color: var(--color-white);
}
